@import "./../../../../styles.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: $prmry-dark;
  @include flex-container(center, center);
  z-index: 1000;

  .content__logo {
    width: 100px;
  }

  .header-right {
    @include flex-container(flex-end, center);
  }
}

.header-menu {
  position: fixed;
  top: 10vh;
  right: -380px;
  width: 370px;
  max-width: 370px;
  height: 100%;
  background-color: #fff;
  margin: 0;
  transition: 0.2s ease-in-out;
  z-index: 1;

  ul {
    width: 100%;
    height: 70%;
    @include flex-container(center, center);
    flex-direction: column;
    padding: 0;

    li {
      display: block;
      padding: 10px 15px;

      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

      &:nth-child(1) {
        transition-delay: 0.2s;
      }

      &:nth-child(2) {
        transition-delay: 0.4s;
      }

      &:nth-child(3) {
        transition-delay: 0.6s;
      }

      &:nth-child(4) {
        transition-delay: 0.8s;
      }

      &:nth-child(5) {
        transition-delay: 1s;
      }

      a {
        position: relative;
        color: $scndry-dark;
        font-size: $fs-s;
        font-weight: $fw-700;
        // text-transform: uppercase;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          bottom: -2px;
          background-color: $orange;
          border-radius: 4px;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.4s ease-in-out;
        }

        &:not(.active):hover::before {
          transform-origin: left;
          transform: scaleX(1);
        }

        &.active {
          color: $orange;

          // &::before {  // optional
          //     transform: scaleX(0);
          //     transform-origin: left;
          // }
        }
      }
    }
  }
}

.header-menu__right {
  right: 0;
  transition: 0.4s ease-in-out;

  ul {
    li {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

$h-padding: 15px;
$h-width: 36px;
$h-height: 24px;
$h-background-color: transparent;
$h-line-color: #fff;
$h-hover-line-color: $orange;
$h-line-height: 2px;
$h-border-radius: 4px;
$h-transition-time: 0.4s;
$h-transition-function: ease;
$h-transition-opacity: 0;
$h-vertical-gap: 13px;
$h-initial-opposition: 5px;
$h-hide-distance: $h-width + $h-padding;

@mixin line-props {
  width: 100%;
  height: $h-line-height;
  background-color: $h-line-color;
  border-radius: $h-border-radius;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: $h-transition-time;
}

.hamburger {
  // padding: $h-padding;
  padding: 15px 0;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: $h-background-color;
  position: absolute;
  // right: 112px;
  z-index: 1000;

  &__container {
    width: $h-width;
    // height: $h-height;
    position: relative;
  }

  &:hover &__inner {
    transform: translate(-#{$h-hide-distance}, 50%);
    opacity: $h-transition-opacity;
  }

  &:hover &__inner::before,
  &:hover &__inner::after {
    transform: translate(#{$h-hide-distance * 2}, 0);
    opacity: $h-transition-opacity;
  }

  &.is-active &__inner {
    display: none;
  }

  &__inner {
    @include line-props();
    top: 50%;
    transform: translate($h-initial-opposition, -50%);
    opacity: 1;

    &::before,
    &::after {
      @include line-props();

      content: "";
      opacity: 1;
      transform: translate(-#{$h-initial-opposition}, 0);
    }

    &::before {
      top: -#{$h-vertical-gap};
    }

    &::after {
      top: $h-vertical-gap;
    }
  }

  &:hover &__hidden {
    opacity: 1;
    transform: translate(0, -50%);
  }

  &:hover &__hidden::before,
  &:hover &__hidden::after {
    opacity: 1;
    transform: translate(0, 0);
  }

  &.is-active &__hidden {
    opacity: 1;
    transform: rotate(45deg);
  }

  &.is-active &__hidden::before {
    transform: translate(0, #{$h-vertical-gap}) rotate(90deg);
    transform-origin: center;
  }

  &.is-active &__hidden::after {
    transform-origin: center;
    transform: translate(0, -#{$h-vertical-gap}) rotate(0);
  }

  &__hidden {
    opacity: 0;
    @include line-props();

    background-color: $h-hover-line-color;
    top: 50%;
    transform: translate(#{$h-hide-distance}, -50%);

    &::before,
    &::after {
      @include line-props();
      background-color: $h-hover-line-color;

      content: "";
      transform: translate(#{$h-hide-distance * 2}, 0);
    }

    &::before {
      top: -#{$h-vertical-gap};
    }

    &::after {
      top: $h-vertical-gap;
    }
  }
}

@media screen and (min-width: $m-width-m) {
  .header-menu {
    top: 0;
  }
}

@media screen and (max-width: $m-width-m) {
  .header-menu__right {
    width: 100vw;
    max-width: none;
  }
}

@media screen and (max-width: $m-width-s) {
  .header-menu ul li a {
    font-size: $fs-xs;
  }
}

.btn-container {
  margin-top: 40px;

  button {
    padding: 15px 30px;
    font-size: $fs-s;
    font-weight: $fw-700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $prmry-dark;
    // border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $orange;
    }
  }
}

// .nilsbrown-header.awake {
//   -webkit-transition: 0.3s all ease;
//   -o-transition: 0.3s all ease;
//   transition: 0.3s all ease;
//   -webkit-transform: translateY(0%);
//   -ms-transform: translateY(0%);
//   transform: translateY(0%);
// }
// .nilsbrown-header.sleep {
//   -webkit-transition: 0.3s all ease;
//   -o-transition: 0.3s all ease;
//   transition: 0.3s all ease;
//   -webkit-transform: translateY(-100%);
//   -ms-transform: translateY(-100%);
//   transform: translateY(-100%);
// }
