<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="header-logo__content">
                    <a (click)="navigateToTop()">
                        <img class="content__logo" src="./../../../assets/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 header-right">
                <div class="hamburger" (click)="openMenu()">
                    <div class="hamburger__container">
                        <div class="hamburger__inner"></div>
                        <div class="hamburger__hidden"></div>
                    </div>
                </div>
                <aside class="header-menu" [class.header-menu__right]="menuValue">
                    <ul aria-label="Primary" role="list">
                        @for(fragment of fragments; track fragment.id) {
                        <li (click)="closeMenu()">
                            <a [routerLink]="fragment.path" [fragment]="fragment.id"
                                class="animate__animated animate__slideInDown"
                                [class.active]="fragment.id === 'home'">{{ fragment.label | translate }}</a>
                        </li>
                        }
                    </ul>
                    <div class="btn-container text-center">
                        <button (click)="switchLanguage('de')" title="Deutsch">de</button>
                        <span>|</span>
                        <button (click)="switchLanguage('en')" title="Englisch">en</button>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</header>