<div class="container">
    <div class="row">
        <div class="col-md-7 project-img">
            <div class="row">
                <div class="item mb-30">
                    <div class="gallery-item-inner">
                        <a href="./../../../assets/img/projects/1.jpg" title="" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img">
                                    <img src="./../../../assets/img/projects/1.jpg" class="img-fluid mx-auto d-block"
                                        alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <h6 #animateElement>Design</h6>
            <h1 #animateElement>Join</h1>
            <p #animateElement class="mt-45">Pellentesque magna magna semper dapibus felis necatin
                aliuen risus. Pellentesque habitant morbi tristique senectus the netuse malesuada nullam ac lorem miss
                the duru.</p>
            <p #animateElement class="mt-45"><span>Date :</span> 23 Dec 2023</p>
            <p #animateElement><span>Client :</span> Viola Polina</p>
            <p #animateElement><span>Firm Name :</span> X-LAB</p>
            <p #animateElement><span>Category :</span> HTML, CSS, JavaScript</p>
            <div #animateElement class="cta-project">
                <div class="btn-wrap text-left mt-45">
                    <div class="btn-link"> <a href="#">Live website <i></i> </a> <span
                            class="btn-block color1 animation-bounce"></span> </div>
                </div>
                <div class="btn-wrap text-left mt-45">
                    <div class="btn-link"> <a href="#">GitHub <i></i> </a> <span
                            class="btn-block color1 animation-bounce"></span> </div>
                </div>
            </div>
        </div>











        <div class="col-md-7">
            <!-- Images -->
            <div class="row">
                <div class="item mb-30">
                    <div class="gallery-item-inner">
                        <a href="./../../../assets/img/projects/1.jpg" title="" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="./../../../assets/img/projects/1.jpg"
                                        class="img-fluid mx-auto d-block" alt=""> </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <h6>Design</h6>
            <h1>Join</h1>
            <p class="mt-45">Pellentesque magna magna semper dapibus felis necatin
                aliuen risus. Pellentesque habitant morbi tristique senectus the netuse malesuada nullam ac lorem miss
                the duru.</p>
            <p class="mt-45"><span>Date :</span> 23 Dec 2023</p>
            <p><span>Client :</span> Viola Polina</p>
            <p ><span>Firm Name :</span> X-LAB</p>
            <p ><span>Category :</span> HTML, CSS, JavaScript</p>
            <div class="cta-project">
                <div class="btn-wrap text-left mt-45">
                    <div class="btn-link"> <a href="#">Live website <i></i> </a> <span
                            class="btn-block color1 animation-bounce"></span> </div>
                </div>
                <div class="btn-wrap text-left mt-45">
                    <div class="btn-link"> <a href="#">GitHub <i></i> </a> <span
                            class="btn-block color1 animation-bounce"></span> </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <!-- Images -->
            <div class="row">
                <div class="item mb-30">
                    <div class="gallery-item-inner">
                        <a href="./../../../assets/img/projects/1.jpg" title="" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="./../../../assets/img/projects/1.jpg"
                                        class="img-fluid mx-auto d-block" alt=""> </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <h6>Design</h6>
            <h1>Join</h1>
            <p class="mt-45 animate__fadeInUp">Pellentesque magna magna semper dapibus felis necatin
                aliuen risus. Pellentesque habitant morbi tristique senectus the netuse malesuada nullam ac lorem miss
                the duru.</p>
            <p class="mt-45 animate__fadeInUp"><span>Date :</span> 23 Dec 2023</p>
            <p class="animate__fadeInUp"><span>Client :</span> Viola Polina</p>
            <p class="animate__fadeInUp"><span>Firm Name :</span> X-LAB</p>
            <p class="animate__fadeInUp"><span>Category :</span> HTML, CSS, JavaScript</p>
            <div class="cta-project">
                <div class="btn-wrap animate__fadeInUp text-left mt-45">
                    <div class="btn-link"> <a href="#">Live website <i></i> </a> <span
                            class="btn-block color1 animation-bounce"></span> </div>
                </div>
                <div class="btn-wrap animate__fadeInUp text-left mt-45">
                    <div class="btn-link"> <a href="#">GitHub <i></i> </a> <span
                            class="btn-block color1 animation-bounce"></span> </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <!-- Images -->
            <div class="row">
                <div class="item mb-30">
                    <div class="gallery-item-inner">
                        <a href="./../../../assets/img/projects/1.jpg" title="" class="img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="./../../../assets/img/projects/1.jpg"
                                        class="img-fluid mx-auto d-block" alt=""> </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <h6>Design</h6>
            <h1>Join</h1>
            <p class="mt-45 animate__fadeInUp">Pellentesque magna magna semper dapibus felis necatin
                aliuen risus. Pellentesque habitant morbi tristique senectus the netuse malesuada nullam ac lorem miss
                the duru.</p>
            <p class="mt-45 animate__fadeInUp"><span>Date :</span> 23 Dec 2023</p>
            <p class="animate__fadeInUp"><span>Client :</span> Viola Polina</p>
            <p class="animate__fadeInUp"><span>Firm Name :</span> X-LAB</p>
            <p class="animate__fadeInUp"><span>Category :</span> HTML, CSS, JavaScript</p>
            <div class="cta-project">
                <div class="btn-wrap animate__fadeInUp text-left mt-45">
                    <div class="btn-link"> <a href="#">Live website <i></i> </a> <span
                            class="btn-block color1 animation-bounce"></span> </div>
                </div>
                <div class="btn-wrap animate__fadeInUp text-left mt-45">
                    <div class="btn-link"> <a href="#">GitHub <i></i> </a> <span
                            class="btn-block color1 animation-bounce"></span> </div>
                </div>
            </div>
        </div>
    </div>
</div>













<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="item mb-30">
                <a href="portfolio-page.html">
                    <div class="img-block">
                        <div class="wrapper-img"> <img src="./../../../assets/img/projects/join.png" class="img-fluid">
                        </div>
                        <div class="title-block">
                            <h4>Lab. 001</h4>
                            <p>Join</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-30">
                <a href="portfolio-page.html">
                    <div class="img-block">
                        <div class="wrapper-img"> <img src="./../../../assets/img/projects/1.jpg" class="img-fluid">
                        </div>
                        <div class="title-block">
                            <h4>Lab. 001</h4>
                            <p>Join</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-30">
                <a href="portfolio-page.html">
                    <div class="img-block">
                        <div class="wrapper-img"> <img src="./../../../assets/img/projects/1.jpg" class="img-fluid">
                        </div>
                        <div class="title-block">
                            <h4>Lab. 001</h4>
                            <p>Join</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-30">
                <a href="portfolio-page.html">
                    <div class="img-block">
                        <div class="wrapper-img"> <img src="./../../../assets/img/projects/1.jpg" class="img-fluid">
                        </div>
                        <div class="title-block">
                            <h4>Lab. 001</h4>
                            <p>Join</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-30">
                <a href="portfolio-page.html">
                    <div class="img-block">
                        <div class="wrapper-img"> <img src="./../../../assets/img/projects/1.jpg" class="img-fluid">
                        </div>
                        <div class="title-block">
                            <h4>Lab. 001</h4>
                            <p>Join</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> -->