<div class="container">
    <div class="row mb-45" *ngFor="let project of projects; let i = index"
        [ngClass]="{'mb-45': i !== projects.length - 1}">
        <div class="col-md-6 project-img" [ngClass]="{'order-md-2': i % 2 !== 0}">
            <div class="row">
                <div class="item mb-30 pr-0">
                    <img [src]="'./../../../assets/img/projects/' + project.imgSrc" class="img-fluid mx-auto d-block"
                        alt="Image of the Project">
                </div>
            </div>
        </div>
        
        <div class="col-md-5 offset-md-1 project-content" [ngClass]="{'order-md-1': i % 2 !== 0, 'right-offset-md-1': i % 2 !== 0, 
        'offset-md-1': i % 2 === 0}">
            <h6 appViewportAnimation="animate__animated animate__fadeInUp">
                {{ project.type | translate }}
            </h6>
            <h1 appViewportAnimation="animate__animated animate__fadeInUp">
                {{ project.title }}
            </h1>
            <p appViewportAnimation="animate__animated animate__fadeInUp" class="mt-45">
                {{ project.description | translate }}
            </p>
            <p appViewportAnimation="animate__animated animate__fadeInUp" class="mt-45">
                <span>{{ project.toolchain.label | translate }}</span>
                {{ project.toolchain.content | translate }}
            </p>
            <p appViewportAnimation="animate__animated animate__fadeInUp">
                <span>{{ project.category.label | translate }}</span>
                {{ project.category.content | translate }}
            </p>
            <p appViewportAnimation="animate__animated animate__fadeInUp">
                <span>{{ project.date.label | translate }}</span>
                {{ project.date.content | translate }}
            </p>

            <div appViewportAnimation="animate__animated animate__fadeInUp" class="d-flex">
                <div class="text-left mt-30">
                    <div class="btn-link"> <a [href]="project.liveTestLink" target="_blank">Live website
                            <i class="pi pi-arrow-up-right"></i>
                        </a> <span class="btn-block color1 animation-bounce"></span>
                    </div>
                </div>
                <div class="text-left mt-30">
                    <div class="btn-link"> <a [href]="project.githubLink" target="_blank">GitHub
                            <i class="pi pi-arrow-up-right"></i>
                        </a> <span class="btn-block color1 animation-bounce"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>