@import './../../../styles.scss';


h6 {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    color: #868a9b;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 60px;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0px;
    color: #fff;
}

p {
    font-size: 16px;
    line-height: 1.75em;
    margin: 0 0 20px;
    color: #868a9b;
    font-weight: 400;
}

p span {
    color: #fff;
}

.cta-project {
    display: flex;
}

.btn-link a i {
    font-size: 14px;
}


@supports (animation-timeline: view()) {
    .project-img img {
        filter: grayscale(100%);
        scale: .8;
        opacity: 0;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }
}

.project-img img:hover {
    filter: grayscale(0%);

}

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
    }
}



// .my-animate-element {
//     animation-duration: 1s;
//     animation-delay: 0.5s;
//     animation-iteration-count: 1;
// }

// .animate__initial {
//     opacity: 0;
// }