@import './../../../../styles.scss';

.section {
    height: auto;
    width: 100%;
    padding: $section-padding;

    .section-title {
        font-size: $fs-xxxl;
        line-height: 60px;
        margin-bottom: 60px;

        span {
            border-bottom: solid 4px $orange;
            color: $orange;
            margin-right: -14px;
        }
    }
}

@media screen and (max-width: $m-width-m) {
    .section {
        width: 100%;

        .section-title {
            font-size: $fs-xxl;
        }
    }
}