@import "./../../../../styles.scss";

.section {
  height: auto;
  width: 100%;

  h6 {
    display: inline-block;
    font-weight: $fw-700;
    font-size: $fs-xxs;
    color: $grey;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;

    span {
      border-bottom: solid 2px $orange;
      color: $orange;
      margin-right: -5px;
    }
  }

  .section-title {
    font-size: $fs-xxxl;
    font-weight: $fw-700;
    word-break: break-word;
  }
}

@media screen and (max-width: $m-width-m) {
  .section {
    .section-title {
      font-size: $fs-xxl;
    }
  }
}
