<section id="{{ sectionId }}" class="section custom-section">
    <div class="container">
        <div class="row mb-45">
            <div class="col-md-5">
                <div [attr.data-aos]="animation" [attr.data-aos-duration]="duration" [attr.data-aos-offset]="offset"
                    [attr.data-aos-easing]="easing">
                    <h6>
                        <span>{{ titlePrefixKey | translate }}</span> {{ titleKey | translate }}
                    </h6>
                    <h1 class="section-title">{{ titleSuffixKey | translate }}</h1>
                </div>
                <ng-content select=".with-title-content"></ng-content>
            </div>
            <ng-content select=".above-main-content"></ng-content>
        </div>
        <ng-content></ng-content>
    </div>
</section>