<app-section-title [titlePrefixKey]="'ABOUT.TITLE_PREFIX'" [titleKey]="'ABOUT.TITLE'"
    [titleSuffixKey]="'ABOUT.TITLE_SUFFIX'" [sectionId]="'about'" [animation]="'fade-right'" [offset]="300"
    [easing]="'ease-in-sine'">

    <div class="with-title-content">
        <p class="mt-45">{{ 'ABOUT.DESCRIPTION_I' | translate }}</p>
        <p>{{ 'ABOUT.DESCRIPTION_II' | translate }}</p>
    </div>

    <div class="col-md-5 offset-md-1 above-main-content">
        <div> <img src="./../../assets/img/frontend.png" class="img-fluid" alt=""> </div>
    </div>

</app-section-title>