<app-section-title [titlePrefix]="'c'" [title]="'ontactMe'" [sectionId]="'contact'" [animation]="'fade-up'"
    [duration]="1500">
</app-section-title>

<!-- <section class="contact">
    <div data-aos="fade-up" data-aos-duration="1500">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about__content w-100">
                        <h1 class="section-title">
                            <span>c</span>
                            ontactMe
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->