@import "./../../styles.scss";

.contact__form {
  .btn-wrap {
    &.disabled .btn-link {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .btn-link {
    input[type="submit"] {
      font-size: $fs-xs;
      font-weight: $fw-700;
      line-height: 1.75em;
      border: none;
      color: #fff;
      background: transparent;
      padding: 20px 30px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }
  }

  ::placeholder {
    color: $grey;
    font-size: $fs-xs;
    font-weight: $fw-400;
  }

  small {
    margin-top: -20px;
    display: block;
  }

  label {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $grey;
  }

  .alert-success {
    background: transparent;
    color: $orange;
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 0px;
  }

  .invalid {
    border-bottom: 2px solid $orange !important;
  }

  .error {
    color: $orange;
  }
}

input,
textarea {
  max-width: 100%;
  margin-bottom: 20px;
  padding: 15px 0;
  height: auto;
  background-color: $prmry-dark;
  box-shadow: none;
  border-width: 0 0 2px;
  border-style: solid;
  display: block;
  width: 100%;
  line-height: 1.5em;
  font-size: $fs-xs;
  font-weight: $fw-400;
  color: #fff;
  background-image: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  border-color: ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  caret-color: $orange;

  &:focus {
    outline: none;
    border-bottom-width: 2px;
    border-color: #fff;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
    caret-color: $orange;
  }
}

@media screen and (max-width: $m-width-l) {
  label {
    display: block !important;
  }
}

// input,
// textarea {
//   max-width: 100%;
//   margin-bottom: 20px;
//   padding: 15px 0;
//   height: auto;
//   background-color: $prmry-dark;
//   box-shadow: none;
//   border-width: 0 0 2px;
//   border-style: solid;
//   display: block;
//   width: 100%;
//   line-height: 1.5em;
//   font-size: $fs-xs;
//   font-weight: $fw-400;
//   color: #fff;
//   background-image: none;
//   border-bottom: 2px solid rgba(255, 255, 255, 0.05);
//   border-color: ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
//   caret-color: $orange;
// }

// input[type="password"]:focus,
// input[type="email"]:focus,
// input[type="text"]:focus,
// input[type="file"]:focus,
// input[type="radio"]:focus,
// input[type="checkbox"]:focus,
// textarea:focus {
//   outline: none;
// }

// input:focus,
// textarea:focus {
//   border-bottom-width: 2px;
//   border-color: #fff;
// }

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   transition: background-color 5000s ease-in-out 0s;
//   -webkit-text-fill-color: #fff !important;
//   caret-color: $orange;
// }

// ::placeholder {
//   color: $grey;
//   font-size: $fs-xs;
//   font-weight: $fw-400;
// }

// label {
//   display: flex;
//   align-items: center;
//   gap: 4px;
//   color: $grey;
// }

// small {
//   margin-top: -20px;
//   display: block;
// }

// .btn-link input[type="submit"] {
//   font-size: $fs-xs;
//   font-weight: $fw-700;
//   line-height: 1.75em;
//   border: none;
//   color: #fff;
//   background: transparent;
//   padding: 20px 30px;
//   position: relative;
//   overflow: hidden;
//   cursor: pointer;
// }

// .btn-wrap.disabled .btn-link {
//   opacity: 0.5;
//   pointer-events: none;
// }

// .alert-success {
//   background: transparent;
//   color: $orange;
//   border: 2px solid rgba(255, 255, 255, 0.05);
//   border-radius: 0px;
// }

// .invalid {
//   border-bottom: 2px solid $orange !important;
// }

// .error {
//   color: $orange;
// }
