<app-section-title [titlePrefixKey]="'CONTACT.TITLE_PREFIX'" [titleKey]="'CONTACT.TITLE'"
    [titleSuffixKey]="'CONTACT.TITLE_SUFFIX'" [sectionId]="'contact'" [animation]="'fade-down'" [duration]="1500">

    <div class="col-md-6 mt-45 above-main-content">
        <p>{{ 'CONTACT.TITLE_DESCRIPTION' | translate }}</p>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form class="contact__form" [formGroup]="submitForm" (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success" *ngIf="isSubmitted" role="alert" #successAlert>
                                    {{ 'CONTACT.SEND' | translate }}
                                </div>
                                <div class="alert alert-danger" *ngIf="showError" role="alert" #errorAlert>
                                    {{ errorMessage }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input name="name" type="text" placeholder="{{ 'CONTACT.NAME' | translate }}"
                                    formControlName="name" [class.invalid]="isFieldValid('name')">
                                <small *ngIf="isFieldValid('name')" class="error">{{ 'CONTACT.REQUIRED_NAME' | translate
                                    }}</small>
                            </div>
                            <div class="col-md-12">
                                <input name="email" type="email" placeholder="{{ 'CONTACT.EMAIL' | translate }}"
                                    formControlName="email" [class.invalid]="isFieldValid('email')">
                                <small *ngIf="isFieldValid('email')" class="error">{{ 'CONTACT.REQUIRED_EMAIL' |
                                    translate }}</small>
                            </div>
                            <div class="col-md-12">
                                <textarea name="message" type="text" id="message" cols="30" rows="4"
                                    placeholder="{{ 'CONTACT.MESSAGE' | translate }}" formControlName="message"
                                    [class.invalid]="isFieldValid('message')">
                                </textarea>
                                <small *ngIf="isFieldValid('message')" class="error">{{ 'CONTACT.REQUIRED_MESSAGE' |
                                    translate }}</small>
                            </div>
                            <div class="col-md-12">
                                <label class="mb-30">
                                    <input type="checkbox" formControlName="acceptTerms" hidden>
                                    <i tabindex="0" role="checkbox"
                                        [attr.aria-checked]="submitForm.get('acceptTerms')?.value ? 'true' : 'false'"
                                        (keypress)="toggleAcceptTermsOnKeyPress($event)"
                                        [class]="submitForm.get('acceptTerms')?.value ? 'fa-sharp fa-regular fa-square-check' : 'fa-sharp fa-regular fa-square'">
                                    </i>
                                    {{ 'CONTACT.PRIVACY_TEXT' | translate }} <a routerLink="/imprint">{{
                                        'CONTACT.PRIVACY_LINK' | translate }}</a>
                                </label>
                            </div>
                            <div class="col-md-12">
                                <div class="btn-wrap" [class.disabled]="!submitForm.valid">
                                    <div class="btn-link">
                                        <input type="submit" value="{{ 'CONTACT.BTN_SEND' | translate }}">
                                        <span class="btn-block color1 animation-bounce"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</app-section-title>
