<app-section-title [titlePrefixKey]="'SKILLS.TITLE_PREFIX'" [titleKey]="'SKILLS.TITLE'"
    [titleSuffixKey]="'SKILLS.TITLE_SUFFIX'" [sectionId]="'skills'" [animation]="'fade-down'" [duration]="1500">

    <div class="col-md-7 mt-45 above-main-content">
        <p>{{ 'SKILLS.TITLE_DESCRIPTION' | translate }}</p>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let tech of techIcons">
            <div class="logo-container">
                <img [src]="'./assets/img/skills/' + tech.icon" class="img-fluid logo-img" alt="{{ tech.name }}">
                <div class="title-block">
                    <p>{{ tech.name }}</p>
                </div>
            </div>
        </div>
    </div>

</app-section-title>