@import "./../../styles.scss";

.logo-container {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);

  &:hover {
    background-color: $scndry-dark;
    transform: scale(0.95);

    .logo-img {
      opacity: 0.8;
    }

    .title-block {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .logo-img {
    width: 60px;
    height: 60px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  }

  .title-block {
    position: absolute;
    opacity: 0;
    transform: translateX(-20px);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);

    p {
      color: $orange;
      margin-bottom: 0;
    }
  }
}

// :host ::ng-deep .section-title {
//   word-break: break-word;
// }

// @media screen and (max-width: $m-width-m) {
//   :host ::ng-deep .section-title {
//     font-size: 44px !important;
//   }
// }

// @media screen and (max-width: $m-width-s) {
//   :host ::ng-deep .section-title {
//     font-size: $fs-l !important;
//   }
// }

// @media screen and (max-width: $m-width-xs) {
//   :host ::ng-deep .section-title {
//     font-size: $fs-m !important;
//   }
// }
