@import "./../../../../styles.scss";

footer {
  @include flex-container(center, center);

  background-color: $scndry-dark;
  padding: 75px 0 60px 0;
  width: 100%;

  .header-logo__content {
    margin-bottom: 16px;

    .content__logo {
      width: 50px;
    }
  }

  p,
  a {
    color: $grey;
  }

  .footer-social-link {
    @include flex-container(flex-end, center);
    padding: 0;

    li {
      @include flex-container(center, center);
      width: 45px;
      height: 45px;
      border-radius: 50%;
      transition: all 0.3 ease-in-out;
      border: 2px solid rgba(255, 255, 255, 0.1);
      
      &:not(:last-child) {
        margin-right: 5px; 
      }

      a {
        @include flex-container(center, center);
        width: 100%;
        height: 100%;
      }

      i {
        font-size: $fs-xs;
        color: #fff;
        line-height: 1;
        vertical-align: middle;
      }
    }
  }
}

.flex-container {
  @include flex-container(center, start);
  flex-direction: column;
}

@media screen and (max-width: $m-width-m) {
  .col-md-4 {
    text-align: center !important;
  }

  .flex-container {
    @include flex-container(center, center);
    flex-direction: column;
  }

  footer {
    .footer-social-link {
      justify-content: center;
    }
  }
}
