@import './../../../../styles.scss';

section {
    width: 100%;
    padding: $section-padding;
    background-color: $scndry-dark;

    .section-title {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 60px;
        color: #fff;

        span {
            border-bottom: solid 4px $orange;
            color: $orange;
            margin-right: -15px;
        }
    }
}


.content__social-links {
    margin-top: 35px;

    ul {
        @include flex-container(center, center);
        flex-direction: row;
        padding: 0;

        li {
            display: inline-block;
            margin: 0px 6px;

            a {
                font-size: $fs-s;
                color: #fff;
            }
        }
    }
}