@import './../../../../styles.scss';

section {
    // height: 90vh;
    width: 100%;
    // font-family: $syne-font;
    padding: $section-padding;
    background-color: $scndry-dark;

    .section-title {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 60px;
        color: #fff;

        span {
            border-bottom: solid 4px $orange;
            color: $orange;
            margin-right: -15px;
        }
    }
}