<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Get in touch</h5>
                <p>&#169; Giuseppe Cino</p>
                <a routerLink="/imprint">Privacy Policy</a>
            </div>
            <div class="col-md-4 text-center">
                <h5>Locations</h5>
                <p>Saarlouis — Germany</p>
            </div>
            <div class="col-md-4">
                <ul class="footer-social-link">
                    <li *ngFor="let link of socialLinks">
                        <a [href]="link.url" target="_blank">
                            <i [class]="link.iconClass"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>