<section class="imprint">
    <p-scrollTop pRipple styleClass="custom-scrolltop" [threshold]="300" icon="pi pi-arrow-up"></p-scrollTop>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="display-flex">
                    <h1>Impressum</h1>
                    <a routerLink="/">&larr;</a>
                </div>
                <br>
                <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
                <br>
                <p>Giuseppe Cino<br />
                    Rungeweg 2<br />
                    66802 &Uuml;berherrn
                </p>
                <br>
                <p>
                    <strong>Vertreten durch: </strong><br />
                    Giuseppe Cino<br />
                </p>
                <br>

                <h2>Kontakt</h2>
                <p>Telefon: 01525 87654321<br />E-Mail:
                    <a href="mailto:hi@giuseppe-cino.de">hi&#64;giuseppe-cino.de</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <h1>Datenschutz&shy;erkl&auml;rung</h1>
                <h2>1. Datenschutz auf einen Blick</h2>
                <h3>Allgemeine Hinweise</h3>
                <p>Die folgenden Hinweise geben einen einfachen &Uuml;berblick dar&uuml;ber, was mit Ihren
                    personenbezogenen
                    Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen
                    Sie
                    pers&ouml;nlich identifiziert werden k&ouml;nnen. Ausf&uuml;hrliche Informationen zum Thema
                    Datenschutz
                    entnehmen Sie unserer unter diesem Text aufgef&uuml;hrten Datenschutzerkl&auml;rung.</p>
                <h3>Datenerfassung auf dieser Website</h3>
                <h4>Wer ist verantwortlich f&uuml;r die Datenerfassung auf dieser Website?</h4>
                <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten
                    k&ouml;nnen Sie dem Abschnitt &bdquo;Hinweis zur Verantwortlichen Stelle&ldquo; in dieser
                    Datenschutzerkl&auml;rung entnehmen.</p>
                <h4>Wie erfassen wir Ihre Daten?</h4>
                <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich
                    z.&nbsp;B. um Daten handeln, die Sie in ein Kontaktformular eingeben.</p>
                <p>Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere
                    IT-Systeme erfasst. Das sind vor allem technische Daten (z.&nbsp;B. Internetbrowser, Betriebssystem
                    oder
                    Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website
                    betreten.</p>
                <h4>Wof&uuml;r nutzen wir Ihre Daten?</h4>
                <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu
                    gew&auml;hrleisten.
                    Andere Daten k&ouml;nnen zur Analyse Ihres Nutzerverhaltens verwendet werden.</p>
                <h4>Welche Rechte haben Sie bez&uuml;glich Ihrer Daten?</h4>
                <p>Sie haben jederzeit das Recht, unentgeltlich Auskunft &uuml;ber Herkunft, Empf&auml;nger und Zweck
                    Ihrer
                    gespeicherten personenbezogenen Daten zu erhalten. Sie haben au&szlig;erdem ein Recht, die
                    Berichtigung
                    oder L&ouml;schung dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung
                    erteilt
                    haben, k&ouml;nnen Sie diese Einwilligung jederzeit f&uuml;r die Zukunft widerrufen. Au&szlig;erdem
                    haben Sie das Recht, unter bestimmten Umst&auml;nden die Einschr&auml;nkung der Verarbeitung Ihrer
                    personenbezogenen Daten zu verlangen. Des Weiteren steht Ihnen ein Beschwerderecht bei der
                    zust&auml;ndigen Aufsichtsbeh&ouml;rde zu.</p>
                <p>Hierzu sowie zu weiteren Fragen zum Thema Datenschutz k&ouml;nnen Sie sich jederzeit an uns wenden.
                </p>
                <h2>2. Hosting</h2>
                <p>Wir hosten die Inhalte unserer Website bei folgendem Anbieter:</p>
                <h3>All-Inkl</h3>
                <p>Anbieter ist die ALL-INKL.COM - Neue Medien M&uuml;nnich, Inh. Ren&eacute; M&uuml;nnich,
                    Hauptstra&szlig;e 68, 02742 Friedersdorf (nachfolgend All-Inkl). Details entnehmen Sie der
                    Datenschutzerkl&auml;rung von All-Inkl: <a href="https://all-inkl.com/datenschutzinformationen/"
                        target="_blank" rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.
                </p>
                <p>Die Verwendung von All-Inkl erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Wir haben ein
                    berechtigtes Interesse an einer m&ouml;glichst zuverl&auml;ssigen Darstellung unserer Website.
                    Sofern
                    eine entsprechende Einwilligung abgefragt wurde, erfolgt die Verarbeitung ausschlie&szlig;lich auf
                    Grundlage von Art. 6 Abs. 1 lit. a DSGVO und &sect; 25 Abs. 1 TTDSG.

                <p>Quelle: <a href="https://www.e-recht24.de" target="_blank">eRecht24</a></p>

            </div>
        </div>
    </div>
</section>