<section class="imprint">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Impressum</h1>
                <a routerLink="/">Home</a>

                <br>
                <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
                <br>
                <p>Giuseppe Cino<br />
                    Rungeweg 2<br />
                    66802 &Uuml;berherrn
                </p>
                <br>
                <p>
                    <strong>Vertreten durch: </strong><br />
                    Giuseppe Cino<br />
                </p>
                <br>

                <h2>Kontakt</h2>
                <p>Telefon: 01525 87654321<br />E-Mail:
                    <a href="mailto:giucino1980@gmail.com">giucino23&#64;gmail.com</a>
                </p>

                <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
            </div>
        </div>
    </div>
</section>