@import "./../../styles.scss";

.imprint {
  position: relative;
  height: auto;
  min-height: calc(100vh - 180px);
  width: 100%;
  padding: 120px 0;

  p {
    color: $grey;
  }
}

.display-flex {
  @include flex-container(space-between, center);
}
