@import "./../../styles.scss";


.landing-page {
    height: 90vh;
    width: 100%;
    padding-top: 100px;
    // padding: 30px 100px;
    background-color: $prmry-dark;
    font-family: 'Syne', sans-serif;
}

.landing-page__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .content__headline {
        color: #fff;
        text-align: center;
        // font-family: Syne;
        font-size: clamp(1.75rem, 4.833vw + 0.3rem, 9rem);
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        // letter-spacing: -3.2px;
        // text-transform: uppercase;
        margin-bottom: 8px;
    }

    .content__name {
        color: $orange;
        // color: $red;
        // color: $yellow;
        text-align: center;
        // font-family: Syne;
        font-size: clamp(1.5rem, 2vw + 0.9rem, 4.5rem);
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        // letter-spacing: -1.2px;
        // text-transform: uppercase;
        margin-bottom: 8px;
    }

    .content__button {
        display: none;
    }
}

.content__description {
    color: $grey;
    font-family: 'Overpass', sans-serif;
    font-size: clamp(0.75rem, 1vw + 0.45rem, 2.25rem);
    font-weight: lighter;

    a {
        display: inline-block;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        color: $grey;
        vertical-align: top;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
        }

        &::before {
            background-color: $orange;
            height: 2px;
            bottom: 0;
            transform-origin: 100% 50%;
            transform: scaleX(0);
            transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &::after {
            content: attr(data-replace);
            height: 100%;
            top: 0;
            transform-origin: 100% 50%;
            transform: translate3d(200%, 0, 0);
            transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
            color: $orange;
        }

        &:hover::before {
            transform-origin: 0% 50%;
            transform: scaleX(1);
        }

        &:hover::after {
            transform: translate3d(0, 0, 0);
        }

        span {
            display: inline-block;
            transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &:hover span {
            transform: translate3d(-200%, 0, 0);
        }
    }
}

.content__social-links {
    margin-top: 35px;

    li {
        display: inline-block;
        margin: 0px 6px;

        a {
            font-size: 1.375rem;
            color: #fff;
        }
    }
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 767px) and (max-width: 991px) {
    // .landing-page__content {
    //     justify-content: center;
    //     align-items: center;
    // }

    //     .aside__image {
    //         display: block;
    //         width: 160px;
    //     }
}