@import "./../../styles.scss";

.landing-page {
  position: relative;
  top: 10vh;
  height: auto;
  width: 100%;
  padding: 60px 0;

  .header-section-wrap {
    overflow: hidden;

    .header-img {
      width: 100%;
    }

    .landing-page__content {
      position: relative;
    }
  }
  .content__name {
    font-size: $fs-xxxl;
    line-height: 1em;
    font-weight: $fw-800;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px $scndry-dark;
  }

  .content__headline {
    display: inline-block;
    font-size: $fs-xs;
    font-weight: $fw-700;
    text-transform: uppercase;
    margin-bottom: 0px;
    letter-spacing: 2px;
    color: $orange;
  }
}

.header-not-view-on-mobile {
  display: none;
}

.content__description-container {
  padding: 30px 0;
  // position: relative;

  .content__description {
    color: $grey;
    font-weight: $fw-400;
    line-height: 1.75em;
    margin-bottom: 0px;
  }
}

@media (max-width: $m-width-l) {
  .special {
    .btn-link {
      width: 170px;
    }
  }
}

/* ======= Media Query style ======= */
@media (min-width: $m-width-l) {
  .header-section-wrap {
    display: flex;

    .header-view-on-mobile {
      display: none;
    }

    .header-not-view-on-mobile {
      display: block;
    }

    .header-img {
      margin-bottom: 30px;
    }

    .landing-page__content {
      @include flex-container(center, center);
      flex-direction: column;
      left: -5%;
    }

    .content__description-container {
      margin: 0;
      width: 100%;
    }
  }
}

@media (max-width: $m-width-m) {
  .landing-page {
    .content__name {
      font-size: $fs-xl;
      margin: 0;
    }

    .content__headline {
      font-size: $fs-xxs;
      margin-bottom: 30px;
    }

    .content__description-container {
      padding: 0px;
      margin: 30px auto 30px auto;
    }
  }
}

@media (max-width: 400px) {
  .landing-page {
    .content__name {
      font-size: $fs-l;
      margin: 0;
    }
  }
}

@media (max-width: $m-width-xs) {
  .landing-page {
    .content__name {
      font-size: $fs-m;
      margin: 0;
    }
  }
}