<app-navbar></app-navbar>

<section class="landing-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="landing-page__content w-100">
                    <span class="content__headline animate__animated animate__fadeInDownBig">Frontend</span>
                    <span class="content__headline">Developer</span>
                    <span class="content__name">Giuseppe Cino</span>
                    <div class="content__button">Send a Message</div>
                    <p class="content__description">I work on with digital startups and entreprenurs on design and branding. need help on your
                        project? <a href="" data-replace="say hello"><span>say hello</span></a></p>
                    <div class="content__social-links">
                        <ul>
                            <li><a href="https://github.com/giucino" target="_blank"><i class="fa-brands fa-github"></i></a>
                            </li>
                            <li><a href="" target="_blank"><i class="fa-brands fa-xing"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/giuseppe-cino-9a9b0b268/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                            <li><a href="" target="_blank"><i class="fa-brands fa-discord"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="landing-page__aside">
                    <img class="aside__image w-100" src="./../../assets/img/passbild.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>