<section id="home" class="landing-page">
    <div class="container">
        <div class="row mb-45">
            <div class="col-md-12">
                <div class="header-section-wrap">

                    <div class="header-view-on-mobile">
                        <h1 class="content__name">Giuseppe Cino</h1>
                        <h6 class="content__headline">{{ 'LANDING.DEV' | translate }}</h6>
                    </div>

                    <div>
                        <img class="header-img" src="./../../assets/img/passbild.png" alt="">
                    </div>

                    <div class="landing-page__content">
                        <div class="header-not-view-on-mobile">
                            <h1 class="content__name animate__animated animate__fadeInDownBig">Giuseppe Cino</h1>
                            <h6 class="content__headline">{{ 'LANDING.DEV' | translate }}</h6>
                        </div>

                        <div class="content__description-container">
                            <p class="content__description">{{ 'LANDING.DESCRIPTION' | translate }}
                                <!-- <a href="" [attr.data-replace]="translatedText">
                                    <span>{{ 'LANDING.SAY_HELLO' | translate }}</span>
                                </a> -->
                            </p>
                        </div>

                        <div class="btn-wrap text-left mt-45">
                            <div class="btn-link"> <a href="mailto:giucino1980@gmail.com">hi&#64;gcino.com <i
                                        class="pi pi-arrow-up-right"></i></a>
                                <span class="btn-block color1 animation-bounce"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>