<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="header-logo__content">
                    <img class="content__logo" src="./../../../assets/img/logo.png" alt="Logo">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 header-right">
                <div class="hamburger" (click)="openMenu()">
                    <div class="hamburger__container">
                        <div class="hamburger__inner"></div>
                        <div class="hamburger__hidden"></div>
                    </div>
                </div>
                <aside class="header-menu" [class.header-menu__right]="menuValue">
                    <ul aria-label="Primary" role="list">
                        <li *ngFor="let menuItem of menuItems" (click)="closeMenu()">
                            <a class="animate__animated animate__slideInDown" [href]="menuItem.link">
                                {{ menuItem.label | translate }}
                            </a>
                        </li>
                    </ul>
                    <!-- <ul aria-label="Primary" role="list">
                        <li (click)="closeMenu()"><a class="animate__animated animate__slideInDown" href="/">
                                {{ 'NAVBAR.HOME' | translate }}</a></li>
                        <li (click)="closeMenu()"><a class="animate__animated animate__slideInDown" href="#about">
                                {{ 'NAVBAR.ABOUT' | translate }}</a></li>
                        <li (click)="closeMenu()"><a class="animate__animated animate__slideInDown" href="#skills">
                                {{ 'NAVBAR.SKILLS' | translate }}</a></li>
                        <li (click)="closeMenu()"><a class="animate__animated animate__slideInDown" href="#projekte">
                                {{ 'NAVBAR.PROJECTS' | translate }}</a></li>
                        <li (click)="closeMenu()"><a class="animate__animated animate__slideInDown" href="#contact">
                                {{ 'NAVBAR.CONTACT' | translate }}</a></li>
                    </ul> -->
                </aside>
            </div>
        </div>
    </div>
</header>