<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="header-logo__content">
                    <div class="content__logo">GC</div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 header-right">
                <div class="hamburger" (click)="openMenu()">
                    <div class="hamburger__container">
                        <div class="hamburger__inner"></div>
                        <div class="hamburger__hidden"></div>
                    </div>
                </div>
                <aside class="header-menu" [class.header-menu__right]="menuValue">
                    <ul>
                        <li (click)="closeMenu()"><a class="animate__animated animate__slideInDown" href="/">Home</a></li>
                        <li (click)="closeMenu()"><a class="animate__animated animate__slideInDown" href="#about">About</a></li>
                        <li (click)="closeMenu()"><a class="animate__animated animate__slideInDown" href="#skills">Skills</a></li>
                        <li (click)="closeMenu()"><a class="animate__animated animate__slideInDown" href="#portfolio">Portfolio</a></li>
                        <li (click)="closeMenu()"><a class="animate__animated animate__slideInDown" href="#contact">Contact</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</header>