.btn-link {
  position: relative;
  width: 170px;
  height: 70px;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;

  a {
    text-align: center;
    font-weight: $fw-400;
    color: #fff;
    font-size: $fs-xs;
    line-height: 1.75em;
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);

    &:hover {
      i {
        color: $orange;
        transform: scale(1.2);
      }
    }

    i {
      font-size: $fs-xxs;
      transition: color 0.3s ease;
    }
  }

  .btn-block {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    z-index: 1;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.05);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.animation-bounce {
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &.color1 {
      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.05);
    }

    &.color2 {
      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.4);
    }
  }

  &:hover {
    .btn-block {
      left: 60%;
      text-decoration: none;
    }
  }
}

@media (max-width: $m-width-l) {
  .btn-link {
    width: 140px;
    margin-right: 5px;
  }
}

@media (max-width: $m-width-xs) {
  .btn-link {
    width: 120px;
  }
}
